 
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="./../../../assets/images/papeleria.png" class="card-img-top" alt="Imagen papeleria decorativa">
        <div class="card-body">
          <h5 class="card-title">Papelería</h5>
          <p class="card-text">Todo lo que necesitás para que tu emprendimiento se destaque.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./../../../assets/images/vinilos.png" class="card-img-top" alt="Imagen vinilos decorativos">
        <div class="card-body">
          <h5 class="card-title">Vinilos</h5>
          <p class="card-text">Renová tus espacios de una manera original.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./../../../assets/images/sublimacion.png" class="card-img-top" alt="Imagen combo sublimado">
        <div class="card-body">
          <h5 class="card-title">Sublimación</h5>
          <p class="card-text">Plasmá tus ideas en diferentes materiales y personalizá lo que más te guste.</p>
        </div>
      </div>
    </div>
</div>
</div> 

